.wrapper {
  background-image: url("./assets/bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* .reservations {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
